version: '3.1'

services:

  nginx:
    build: .
    image: arvato/wordpress
    restart: always
    command: /scripts/run-nginx.sh
    user: "33:33"
    ports:
      - 8080:8080
    volumes:
      - ${PWD}/conf/nginx.conf:/etc/nginx/nginx.conf
      - ${PWD}/uploads:/app/wp-content/uploads
    links:
      - php-fpm

  php-fpm:
    build: .
    image: arvato/wordpress
    restart: always
    command: /scripts/run-php.sh
    user: "33:33"
    ports:
      - 9000:9000
    volumes:
      - ${PWD}/conf/fpm-pool.conf:/etc/php/7.4/fpm/pool.d/www.conf
      - ${PWD}/conf/fpm.conf:/etc/php/7.4/fpm/php-fpm.conf
      - ${PWD}/uploads:/app/wp-content/uploads
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_DATABASE: exampledb
      WP_PLUGINS: "hello.php"
    links:
      - mysql

  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: exampledb
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_RANDOM_ROOT_PASSWORD: '1'

  preinstall-hook:
    build: .
    image: arvato/wordpress
    restart: "no"
    command: /scripts/preinstall-hook.sh
    user: "33:33"
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_DATABASE: exampledb
      WORDPRESS_BLOGNAME: toller Blog
      WORDPRESS_BLOGURL: example.loc
      WORDPRESS_USERNAME: admin
      WORDPRESS_PASSWORD: daAfG3423sf
      WORDPRESS_EMAIL: admin@example.loc
      WP_PLUGINS: "hello.php"
      SLEEP: 10
    links:
      - mysql

  postinstall-hook:
    build: .
    image: arvato/wordpress
    restart: "no"
    command: /scripts/preinstall-hook.sh
    user: "33:33"
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_DATABASE: exampledb
      WORDPRESS_BLOGNAME: toller Blog
      WORDPRESS_BLOGURL: example.loc
      WORDPRESS_USERNAME: admin
      WORDPRESS_PASSWORD: daAfG3423sf
      WORDPRESS_EMAIL: admin@example.loc
      WP_PLUGINS: "hello.php"
      SLEEP: 20
    links:
      - mysql

  run-cron:
    build: .
    image: arvato/wordpress
    restart: "no"
    command: /scripts/run-cron.sh
    user: "33:33"
    environment:
      MYSQL_HOST: mysql
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_DATABASE: exampledb
      SLEEP: 30
    links:
      - mysql