name: build

on:
  push:
    branches:
      - main
      - master
      - dev
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.1.0
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1.6.0
        with:
          install: true
          version: latest
          driver-opts: image=moby/buildkit:master

      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@v1.14.1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}          
          #username: jenkins-arvato
          #password: ${{ secrets.CR_PAT }}
          
      - name: Extract branch name
        id: extract_branch
        uses: keptn/gh-action-extract-branch-name@main
        with:
          GITHUB_REF: ${{ github.ref }}
    
      - name: Build and Push MASTER
        if: ${{ steps.extract_branch.outputs.BRANCH }} == 'master' || ${{ steps.extract_branch.outputs.BRANCH }} == 'main'
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          pull: true
          tags: ghcr.io/arvatoaws-labs/wordpress:latest
          cache-from: type=registry,ref=ghcr.io/arvatoaws-labs/wordpress:latest
          cache-to: type=inline
          
      - name: Build and Push Version-Branch
        if: ${{ steps.extract_branch.outputs.BRANCH }} != 'master' && ${{ steps.extract_branch.outputs.BRANCH }} != 'main'
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          pull: true
          tags: ghcr.io/arvatoaws-labs/wordpress:${{ steps.extract_branch.outputs.BRANCH }}
          cache-from: type=registry,ref=ghcr.io/arvatoaws-labs/wordpress:${{ steps.extract_branch.outputs.BRANCH }}
          cache-to: type=inline
